{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}BeerEmpire | Factory{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Factory</h1>
			<hr/>
			<div class="gameboard">
				{% for beer in beers %}
				<div
					class="engine beer {{beer.name}}"
					onclick="makeAndSoldBeer(
						{{beer.cost}},[
						{{beer.need_malt}},
						{{beer.need_yeast}},
						{{beer.need_hops}}])">
					<div class="title">{{beer.name}}</div>
					<div class="need">Malt {{beer.need_malt}}</div>
					<div class="need">Yeast {{beer.need_yeast}}</div>
					<div class="need">Hops {{beer.need_hops}}</div>
					<div class="price">{{beer.cost}}$</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
