{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}BeerEmpire | Factory{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Factory</h1>
			<hr/>
			<div class="gameboard">
				<div id="engineBuff" class="engine Buff" onclick="">Buff</div>
				<div id="engineCipherKey" class="engine CipherKey" onclick="">Cipher Key</div>
				<div id="engineGobronite" class="engine Gobronite" onclick="">Gobronite</div>
			</div>
		</div>
	</div>
{% endblock %}
