{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}BeerEmpire | Factory{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Factory</h1>
			<hr/>
			<div class="gameboard">
				<div id="engineBuff" class="engine beer Buff" onclick="makeAndSoldBeer(7,[4,2,1])">Buff</div>
				<div id="engineCipherKey" class="engine beer CipherKey" onclick="makeAndSoldBeer(13,[2,4,3])">Cipher Key</div>
				<div id="engineGobronite" class="engine beer Gobronite" onclick="makeAndSoldBeer(16,[4,4,5])">Gobronite</div>
			</div>
		</div>
	</div>
{% endblock %}
