{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}BeerEmpire | Farm{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Farm</h1>
			<hr/>
			<div class="gameboard">
				<div id="farmMalt" class="farm" onclick="clickOnMalt()"><p>Farm 1</p></div>
				<div id="farmYeast" class="farm" onclick="clickOnYeast()"><p>Farm 2</p></div>
				<div id="farmHops" class="farm" onclick="clickOnHops()"><p>Farm 3</p></div>
			</div>
		</div>
	</div>


{% endblock %}
