{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}BeerEmpire | Farm{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Farm</h1>
			<hr/>
			<div class="gameboard">
				<div id="data"
					data-maltslaves="{{ profile.employee_malt }}"
					data-yeastslaves="{{ profile.employee_yeast }}"
					data-hopsslaves="{{ profile.employee_hops }}"
					data-idleslaves="{{ profile.employee_idle }}">
				</div>
				<div class="farm malt" onclick="clickOnMalt()">
					Malt
					<span id="farmerMalt" class="small">{{ profile.employee_malt }} farmer</span>
				</div>
				<div class="buttonzone">
					<div class="button add" id="addSlaveMalt" onclick="ClickOnAddMaltSlave()">+</div>
					<div class="button sub" id="subSlaveMalt" onclick="ClickOnSubMaltSlave()">-</div>
				</div>

				<div class="farm yeast" onclick="clickOnYeast()">
					Yeast
					<span id="farmerYeast"class="small">{{ profile.employee_yeast }} farmer</span>
				</div>
				<div class="buttonzone">
					<div class="button add" id="addSlaveYeast" onclick="ClickOnAddYeastSlave()">+</div>
					<div class="button sub" id="subSlaveYeast" onclick="ClickOnSubYeastSlave()">-</div>
				</div>

				<div class="farm hops" onclick="clickOnHops()">
					Hops
					<span id="farmerHops" class="small">{{ profile.employee_hops }} farmer</span>
				</div>
				<div class="buttonzone">
					<div class="button add" id="addSlaveHops" onclick="ClickOnAddHopsSlave()">+</div>
					<div class="button sub" id="subSlaveHops" onclick="ClickOnSubHopsSlave()">-</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
