{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Beer Empire{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'beerfactory.css' %}"/>
    <script src="{% static 'farm_function.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/farm">Farm</a></li>
        <li><a href="/factory">Factory</a></li>
        <li><a href="/market">Market</a></li>
        <li class="right"><form>{% csrf_token %}<button type="submit" formaction="{% url 'logout' %}" formmethod="POST">Logout</button></form></li>
      </ul>
    </nav>
    <aside>
      <div id="factory_name" class="cards malt" data-malt="{{ profile.ressources_malt }}">
        {{ profile.factory_name }}
      </div>
      <div class="cards malt">
        <span class="title">Malt</span>
        <span class="quantum" id="nbMalt" data-malt="{{ profile.ressources_malt }}">
          {{ profile.ressources_malt }}<small>kg</small></span>
          <span id="farmerMalt" class="small">{{ profile.employee_malt }} farmer</span>
      </div>
      <div class="cards yeast">
        <span class="title">Yeast</span>
        <span class="quantum" id="nbYeast" data-yeast="{{ profile.ressources_yeast }}">
          {{ profile.ressources_yeast }}<small>kg</small></span>
          <span id="farmerYeast" class="small">{{ profile.employee_yeast }} farmer</span>
      </div>
      <div class="cards hops">
        <span class="title">Hops</span>
        <span class="quantum" id="nbHops" data-hops="  {{ profile.ressources_hops }}">
          {{ profile.ressources_hops }}<small>kg</small></span>
          <span id="farmerHops" class="small">{{ profile.employee_hops }} farmer</span>
      </div>
    </aside>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
