{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Beer Empire{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'beerfactory.css' %}"/>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../login">Login</a></li>
        <li><a href="../register">Register</a></li>
      </ul>
    </nav>
    <aside>
    </aside>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
