html, body, root {
  margin:0px 0px 0px 0px;
  font-family: 'Cantarell', sans-serif;
  background-color: #ebebeb;
}

body{
  margin-bottom: 1vh;
}

a{
  color:inherit;
  text-decoration: inherit;
}

a:active{
  color:inherit;
  text-decoration: inherit;
}

nav{
  background-color: #101010;
  color:white;
  height:5vh;
  line-height: 5vh;
  font-size: 2.5vh;
  padding: 0 10vw 0 10vw;
}

nav ul{
  margin:0;
  padding: 0;
  list-style: none;
  height: 5vh;
  line-height: 5vh;
}

nav ul li {
  display: inline-block;
  height:5vh;
  line-height: 5vh;
  vertical-align: top;
  min-width: 5vw;
  margin-right:1vw;
  text-align: center;
}

nav button{
  background: none;
  border: none;
  text-align: center;
  color:white !important;
  height:5vh;
  line-height: 5vh;
  font-size: 2.5vh!important;
  line-height: 5vh;
}

button:hover{
  cursor: pointer;
}

aside{
  display: inline-block;
  width: 15vw;
  margin-top: 3vh;
  margin-left: 10vw;
}

.cards{
  border-bottom: solid .5vh;
  margin-bottom: 2vh;
  padding: .5vw;
}

.cards .title{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}

.content{
  display: inline-block;
  vertical-align: top;
  width: 60vw;
  margin-left: 5vw;
}

@media only screen and (max-width: 800px) {
    html{
      font-size: 12px;
    }
    aside{
      display: block;
      margin-left:5vw;
      margin-right:5vw;
      width:90vw;
    }

    .content{
      display: block;
      margin-left:5vw;
      margin-right:5vw;
      width:90vw;
    }
}

.right{
  float: right;
}

.farm{
  display: inline-block;
  background-image: url("/static/fields_texture_2.png");
  border-bottom: solid .5vh;
  height: 10vh;
  width: 100%;

  user-select:none;
  -ms-user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;

  line-height: 10vh;
  text-align: center;
  font-size: 3vh;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

.farm .inner{
  display: inline-block;
  width: calc(100% - 7em);
}

.engine{
  background-image: url("/static/drop.png");
  background-repeat: repeat-x;
  border-top: solid 2vh;
  height: 10vh;
  width: 100%;
  user-select:none;
  -ms-user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  line-height: 10vh;
  vertical-align: middle;
  text-align: center;
  font-size: 3vh;
  margin-top: 1em;
}


.farm:hover{
  cursor: pointer;
}

/*COLORS*/

/*Malt, Hops, Yeast*/

.malt{
  background-color:#dec995;
  border-color: #ceb985;
}

.hops{
  background-color:#d6912a;
  border-color:#c6811a;
}

.yeast{
  background-color:#e0c39e;
  border-color: #d0b38e;
}

.money{
  background-color: #15a308;
  border-color: #0d7a03;
}

.beer{
  background-color: #ff9b00;
  border-color: #f6ddc7;
  color:white;
}


#factory_name{
  background-color:#e0c39e;
  border-color: #d0b38e;
  text-align: center;
  font-size: 2em;
}

.quantum{
  display: inline-block;
  width: 100%;

  text-align: center;
  font-size: 30px;
}

.quantum small{
  font-weight: bold;
}

aside small{
  font-size: 13px;
}

/*Form*/

form button{
 color:#101010;
 width:100%;
 font-size: 1.2em;
}

label{
  display: inline-block;
  font-size: 1.2em;
  width:100%;
  margin-bottom:.2em;
}

input{
  border:none;
  background-color: #cfcfcf;
  border-bottom: solid 5px #dfdfdf;
  display: inline-block;
  font-size: 1.2em;
  height:1.4em;
  padding-left: .2em;
  width:calc(100% - .2em);
  margin-bottom: 1em;
}

.farm span{
  height: 50%;
}

.farm .buttonzone{
  width:7em;
  float:right;
  font-size: .5em;
  height: 4vh;
  margin-right: 2vw;
}

.buttonzone .button{
  margin:0px 0px 0px 0px;
  vertical-align: middle;
  line-height: 3em;
  height: 3em;
  width: 3em;
  display: inline-block;
}

.add{
  background-color: #f46036;
}

.add:active{
  background-color: #015489
}

.sub{
  background-color: #f43a25;
}

.sub:active{
  background-color: #983547;
}
